---
name: search
url: /
controller: search
---
<div class="grid-container">
    <div class="grid-block pageHeader">
        <div class="grid-content">
            <h3>Search for a file</h3>
        </div>
        <div class="grid-content shrink">
            <div class="button link" ui-sref="upload">Upload</div>
        </div>
    </div>
    <hr/>
    <div class="grid-block">
        <table st-persist="search" st-table="displayedData" st-safe-src="searchData">
            <thead>
                <tr class="tableHeader">
                	<td></td>
                    <td st-sort="value.name">Name</td>
                    <td st-sort="value.fileSize">Size</td>
                    <td st-sort="value.uploadDate">Uploaded</td>
                    <td></td>
                    <td st-sort="value.fileType">Type</td>
                    <td st-sort="value.fileExtension">Extension</td>
                    <td></td>
                </tr>
                <tr>
                    <th colspan="4">
                        <span class="inline-label">
		                    <input name="globalSearch" st-search placeholder="Global Search" type="search"/>
	                    </span>
	                </th>
	              	<th></th>
	                <th>
	                	<span class="inline-label">
		                    <select st-search="value.fileType">
		                        <option value="">All</option>
		                        <option ng-repeat="rows in searchData | unique:'value.fileType'" value="{{rows.value.fileType}}">{{rows.value.fileType | capitalize}}</option>
		                    </select>
	                    </span>
                    </th>
                    <th>
                        <span class="inline-label">
		                    <select st-search="value.fileExtension">
		                        <option value="">All</option>
		                        <option ng-repeat="rows in displayedData | unique:'value.fileExtension'" value="{{rows.value.fileExtension}}">{{rows.value.fileExtension}}</option>
		                    </select>
	                    </span>
                    </th>
                    <th>
                        <span class="inline-label">
		                    <a st-reset-search="search"><i tooltips tooltip-template='Reset search and filters' class="fa fa-undo resetButton"></i></a>
	                    </span>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="(key,rows) in displayedData track by rows.id">
                	<td> <div tooltips tooltip-template="{{rows.value.description}}"><i class="fa fa-comment"></i></td>
                    <td ui-sref="details({id: rows.id})">{{rows.value.name}}</div></td>
                    <td ui-sref="details({id: rows.id})">{{rows.value.fileSize/1024 | number:0}} kB</div></td>
                    <td ui-sref="details({id: rows.id})">{{rows.value.uploadDate | date:"MM/dd/yyyy 'at' h:mma"}}</div></td>
                    <td></td>
                    <td ui-sref="details({id: rows.id})">{{rows.value.fileType | capitalize}}</div></td>
                    <td ui-sref="details({id: rows.id})">{{rows.value.fileExtension}}</div></td>
                    <td ng-click="deleteDoc(rows.id, rows.value._rev, rows.value.s3Key)" class="deleteButton"><i class="fa fa-trash"></i></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<hr/>
